<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>

<h3 class="about-summit-title">
    @Html.GetWord(22)
</h3>
<div class="container p-0 ">
    <div class="row justify-content-center" style="gap: 3rem;">
        <div id="profile-1" class="ptc-logs-expandable-card col-md-4">
            <div cardContent>
                <div collapsedContent>
                    <div class="generic-card">
                        <div class="generic-card-icon-1"></div>
                        <h3 class="font-color-main expanding-card-title">@Html.GetWord(23)</h3>
                        <div class="fs-125-rem fw-normal font-color-light">
                            @Html.GetWord(24)
                        </div>
                    </div>
                </div>
                <div expandedContent>
                    <div class="ptc-logs-mock-content font-color-black">
                    </div>
                </div>
            </div>
        </div>
        <div id="profile-2" class="ptc-logs-expandable-card  col-md-4">
            <div cardContent>
                <div collapsedContent>
                    <div class="generic-card">
                        <div class="generic-card-icon-2"></div>
                        <h3 class="font-color-main expanding-card-title">@Html.GetWord(25)</h3>
                        <div class="fs-125-rem fw-normal font-color-light">
                            @Html.GetWord(26)
                        </div>
                    </div>
                </div>
                <div expandedContent>
                    <div class="ptc-logs-mock-content"></div>
                </div>
            </div>
        </div>
        <div id="profile-3" class="  ptc-logs-expandable-card col-md-4">
            <div cardContent>
                <div collapsedContent>
                    <div class="generic-card">
                        <div class="generic-card-icon-3"></div>
                        <h3 class="font-color-main expanding-card-title">@Html.GetWord(27)</h3>
                        <div class="fs-125-rem fw-normal font-color-light">
                            @Html.GetWord(28)
                            <ul class="text-align-start font-color-light mt-2">
                                <li>
                                    @Html.GetWord(29)
                                </li>
                                <li>
                                    @Html.GetWord(89)
                                </li>
                                <li>
                                    @Html.GetWord(90)
                                </li>
                            </ul>
                        </div>
                        <button class="read-more-btn" type="button">@Html.GetWord(99)</button>
                    </div>
                </div>
                <div expandedContent>
                    <div class="ptc-logs-mock-content fs-125-rem fw-normal font-color-light">
                        <ul class="text-align-start font-color-light">
                            <li>
                                @Html.GetWord(91)
                            </li>
                            <li>
                                @Html.GetWord(92)
                            </li>
                            <li>
                                @Html.GetWord(93)
                            </li>
                            <li>
                                @Html.GetWord(94)
                            </li>
                            <li>
                                @Html.GetWord(95)
                            </li>
                            <li>
                                @Html.GetWord(96)
                            </li>
                            <li>
                                @Html.GetWord(97)
                            </li>
                            <li>
                                @Html.GetWord(98)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/home/aboutqimmah2.js"></script>