<div class="cards-container mt-5">
    <!-- Card 1 -->
    <div class="card-wrapper card-1">
        <div class="card card-back">
        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">1</div>
                <div class="title-section">
                    <div class="day-title">@Html.GetWord(10)</div>
                </div>
            </div>
            <ul class="event-list">
                <li>@Html.GetWord(11)</li>
                <li>@Html.GetWord(12)</li>
                <li>@Html.GetWord(13)</li>
            </ul>
            <div class="text-decoration-underline know-more">
                @Html.GetWord(14)
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card-wrapper card-2">
        <div class="card card-back">
        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">
                    2
                </div>
                <div class="title-section">
                    <div class="day-title">
                        @Html.GetWord(15)
                    </div>
                </div>
            </div>
            <ul class="event-list">
                <li>
                    @Html.GetWord(16)
                </li>
                <li>
                    @Html.GetWord(17)
                </li>
                <li>
                    @Html.GetWord(18)
                </li>
            </ul>
            <div class="text-decoration-underline know-more">
                @Html.GetWord(14)
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="card-wrapper card-3">
        <div class="card card-back">
        </div>
        <div class="card card-front">
            <div class="qimmah-card-header">
                <div class="day-number">3</div>
                <div class="title-section">
                    <div class="day-title">
                        @Html.GetWord(87)
                    </div>
                </div>
            </div>
            <ul class="event-list">
                <li>@Html.GetWord(19)</li>
                <li>@Html.GetWord(20)</li>
                <li>@Html.GetWord(21)</li>
            </ul>
            <div class="text-decoration-underline know-more">
                @Html.GetWord(14)
            </div>
        </div>
    </div>
</div>